@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";


body {
      background-color: #333;
      font-family: "Roboto", sans-serif;
      
}

.main {
      @apply flex justify-start max-w-screen text-[#E0DEF4] bg-[#181825]
}

aside li {
      @apply text-gray-400 py-1 px-2 mb-1.5 rounded-xl cursor-pointer hover:bg-[#33334f]
      hover:text-amber-50 
}
aside li span {
      @apply transition-all duration-300 ease-in-out
}
.tasks .category {
      @apply flex flex-col items-center py-1
      w-[80%] sm:w-full px-5 gap-5 sm:gap-2 
}
.tasks .category-name {
      @apply w-full px-2  
}

#additem input,
select {
      @apply border-white border-2 w-[80%] p-1 sm:w-1/2
}

/* #additem select option{
      @apply bg-blue-600 text-green-500
} */

.task-card {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border-radius: 12px;
      padding: 10px;
      transition: all 0.3s ease-in-out;
    }

    .task-card:hover {
      transform: translateY(-3px);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }

.msg {
      @apply w-full text-center text-3xl p-5 
}

@keyframes scroll {
 to {
            transform: translateX(-100%);
      }
}

.scrollP {
      animation: scroll 15s linear infinite ;
      user-select: none;
      white-space: nowrap;
}
.scrollP:hover {
      animation-play-state: paused;
}

.boxs-container {
      @apply overflow-y-auto pr-2 flex flex-col gap-2 max-h-[80vh]
}

.boxs-container::-webkit-scrollbar {
      display: none; /* For Chrome, Safari, and Edge */
    }

.custom-btn {
      @apply bg-blue-600/50 text-amber-50 px-4 py-1 rounded-md hover:bg-blue-600/70
}

.inp {
      @apply border-blue-400/20 border-2 rounded-md p-2 outline-0 w-full placeholder:text-sm focus:text-blue-300 focus:shadow-xl focus:shadow-blue-400
}
.sub-btn {
      @apply bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-xl cursor-pointer outline-0 border-2 
      border-transparent focus:border-blue-200 hover:border-blue-200
      font-normal transition-all delay-75 hover:translate-y-[-4px] focus:translate-y-[-4px]
}